<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Employee Managment System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Employee</a>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel name="key" type="search" placeholder="Search" aria-label="Search">
      </form>
  </div>
</nav>

<div class="container-fluid" id="main-container">
  <div class="row">
    <div *ngFor="let employee of employees" class="col-md-4">
      <div class="card employee-card">
        <img src="{{employee?.imageUrl}}" class="card-img-top" alt="Employee avatar">
        <div class="card-body">
          <h5 class="card-title">{{employee?.name}}</h5>
          <p class="card-text">Title: {{employee?.jobTitle}}</p>
          <p class="card-text">Phone: {{employee?.phone}}</p>
          <p class="card-text">Email: {{employee?.email}}</p>
          <div class="buttons">
            <a (click)="onOpenModal(employee, 'edit')" class="btn btn-info">Edit</a>
            <a (click)="onOpenModal(employee, 'delete')" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Add your form fields for adding an employee here -->
        <!-- Example: -->
        <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
          <div class="form-group">
            <label for="employeeName">Employee Name</label>
            <input required type="text" ngModel name="name" class="form-control" id="employeeName" placeholder="Enter employee name">
          </div>
          <div class="form-group">
            <label for="employeeEmail">Email</label>
            <input required type="email" ngModel name="email" class="form-control" id="employeeEmail" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="employeeJobTitle">Job Title</label>
            <input required type="text" ngModel name="jobTitle" class="form-control" id="employeeJobTitle" placeholder="Enter job title">
          </div>
          <div class="form-group">
            <label for="employeePhone">Phone</label>
            <input required type="tel" ngModel name="phone" class="form-control" id="employeePhone" placeholder="Enter phone number">
          </div>
          <div class="form-group">
            <label for="employeeImageUrl">Image URL</label>
            <input required type="url" ngModel name="imageUrl" class="form-control" id="employeeImageUrl" placeholder="Enter image URL">
          </div>
          <!-- Add more fields as needed -->
          <div class="modal-footer">
            <button type="submit" [disabled]="addForm.invalid" class="btn btn-primary">Add Employee</button>
            <button type="button" id="close-add-modal" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Employee Modal -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="updateEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">Update Employee {{editEmployee?.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Add your form fields for updating an employee here -->
        <!-- Example: -->
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="updateEmployeeName">Employee Name</label>
            <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control" id="updateEmployeeName" placeholder="Enter new employee name">
          </div>
          <input type="hidden" ngModel="{{editEmployee?.id}}" name="id">
          <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="employeeCode">
          <input type="hidden" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl">
          <div class="form-group">
            <label for="updateEmployeeEmail">Email</label>
            <input type="email" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="updateEmployeeEmail" placeholder="Enter new email">
          </div>
          <div class="form-group">
            <label for="updateEmployeeJobTitle">Job Title</label>
            <input type="text" ngModel="{{editEmployee?.jobTitle}}" name="jobTitle" class="form-control" id="updateEmployeeJobTitle" placeholder="Enter new job title">
          </div>
          <div class="form-group">
            <label for="updateEmployeePhone">Phone</label>
            <input type="tel" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control" id="updateEmployeePhone" placeholder="Enter new phone number">
          </div>
          <!-- Add more fields as needed -->
          <button (click)="onUpdateEmployee(editForm.value)" type="submit" class="btn btn-primary">Update Employee</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Employee Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteEmployeeModalLabel">Delete Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete employee {{deleteEmployee?.name}}?</p>
        <!-- You might want to display the employee information here -->
        <!-- Example: -->
        <button (click)="onDeleteEmployee(deleteEmployee?.id)" type="button" class="btn btn-danger">Delete</button>
        <button type="button" id="close-delete-modal" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>